# HOME WORK 1
## Complete this section and turn in before the next class

## 1. Create an empty Python list called 'a'

In [5]:
a = list()
print (a)

[]

## 2. Store all values between 1-100 with increments of 03 (w/o Numpy) in 'a'

In [7]:
a = list(range(3,100,3))
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## 3. Create a list called 'a2' with numbers fro 2-46 with 0.5 increments

In [13]:
a2 = [x/2 for x in range(4,93)]
print (a2)

[2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0]

 ## 4. Double every even integer element of list 'a' from #2 
 ##  Store the results back in 'a'.

In [18]:
a = list(range(3,100,3))
print(a)a = [2*x for x in a if x % 2 == 0]
print (a)

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192]

## 5. Add all numbers in 'a' (except for the 2nd and the 21st element).

In [29]:
a = list(range(3,100,3))
print ("length of a = ",len(a))
a.pop(1); a.pop(22)
sum_a = sum(a)
print("sum of all numbers in 'a', except for 2nd and 21st element = ",sum_a)

length of a =  33
sum of all numbers in 'a', except for 2nd and 21st element =  1605

## 6. Calculate the mean of a

In [31]:
mean_a = sum_a/len(a)
print (mean_a)

51.774193548387096

# LISTS AND STRINGS:
## 7. Create an empty list called b

In [32]:
b = list()
print (b)

[]

## 8. In b store every word in the sentence as an element of its own.
### sentence:'I am so excited about Data-X. It is important to be able to work with data.'

In [157]:
b_sentence = 'I am so excited about Data-X. It is important to be able to work with data.'
b = b_sentence.split()
print (b)

['I', 'am', 'so', 'excited', 'about', 'Data-X.', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data.']

## 9. Count the occurences of the lower-case letter ’e’ in the list b.

In [42]:
print (b_sentence.count('e'))

4

## 10. Replace every lower- or upper-case letter ’i’ in the list b with a ’1’

In [158]:
b_replaced = b_sentence.replace("i", "1").replace("I", "1")
print (b_replaced.split())
b = b_replaced.split()
print (b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.']
['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.']

## 11. Append the string ”This is the end of the first HW” to the list b, 
## with every new word as an element of its own

In [159]:
b2_sentence = 'This is the end of the first HW'
b2 = b2_sentence.split()
print(b2)
print (b + b2)

['This', 'is', 'the', 'end', 'of', 'the', 'first', 'HW']
['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.', 'This', 'is', 'the', 'end', 'of', 'the', 'first', 'HW']

## 12. Print b, as ONE string backwards (starting with ”WH tsrif ...”)

In [163]:
b3 = b + b2
b4 = ' '.join(b3)
print (b4)
print (b4[::-1])

1 am so exc1ted about Data-X. 1t 1s 1mportant to be able to work w1th data. This is the end of the first HW
WH tsrif eht fo dne eht si sihT .atad ht1w krow ot elba eb ot tnatropm1 s1 t1 .X-ataD tuoba det1cxe os ma 1



## 13. Put the following in a dictionary called 'codes':
### Keys: 1001, 1002, 1003, 1004, 1005   
### Values: 'Alpa', Beta, 'Gamma, 'Delta', 'Tau'

## then traverse the dictionary by keys and change every value to be all lower case

In [167]:
codes = {'1001':'Alpa', '1002':'Beta', '1003':'Gamma', '1004':'Delta', '1005': 'Tau'}
for k in codes.keys():
    print (k)
{k:v.lower()
    for k, v in codes.items()
}

1001
1002
1003
1004
1005

{'1001': 'alpa',
 '1002': 'beta',
 '1003': 'gamma',
 '1004': 'delta',
 '1005': 'tau'}

## 14. Set A=( 1,3,5,7,8,9) Set B=(2,5,30,10).
## Find Union of A and B.

In [171]:
set_a = {1,3,5,7,9}
set_b = {2,5,30,10}
print(set().union(set_a, set_b))

{1, 2, 3, 5, 7, 9, 10, 30}